---
import { Icon } from "astro-icon";
import { Image } from "astro:assets";
import Tags from "./Tags.astro";

interface Props {
  title: string;
  slugUrl?: string | undefined;
  repoUrl?: string | undefined;
  image: string;
  imageAlt: string;
  description?: string | null;
  tags: string[];
  addClass?: string | null;
}

const {
  title,
  slugUrl,
  repoUrl,
  image,
  imageAlt,
  description,
  tags,
  addClass,
} = Astro.props;
---

<li
  class={`dark:text-light text-zinc-500 gap-1 p-6 border-2 dark:border-zinc-700/60 rounded-lg flex bg-opacity-40 dark:bg-opacity-40 bg-zinc-50 dark:bg-[#2D2F3A] ${addClass} lg:col-span-3 group transition-all duration-300 relative hover:shadow-[0_0_30px_rgba(255,255,255,0.8)]`}
>
  <div class="grid auto-rows-min h-full">
    <div class="flex-shrink-0 w-full min-h-full md:flex">
      {
        image && (
          <a href={slugUrl}>
            <div class="flex justify-center items-center ">
              <Image
                src={image}
                alt={imageAlt}
                height={3000}
                width={3000}
                class="max-h-[25vh] min-h-[25vh]"
              />
            </div>
          </a>
        )
      }
    </div>

    {/* Ensure title, description, and tags are aligned */}
    <div class="h-full flex flex-col justify-between">
      <div class="flex flex-row pt-4 justify-between">
        <a href={slugUrl}>
          <h2
            class="text-lg font-medium dark:text-white text-zinc-700 [word-break:break-word] line-clamp-2"
          >
            {title}
          </h2>
        </a>
        <div class="flex gap-2">
          {
            repoUrl && (
              <a
                href={repoUrl}
                target="_blank"
                rel="noopener noreferrer"
                aria-label={`Open ${title} repository in a new tab`}
                class="text-white"
              >
                <Icon
                  name="mdi:github"
                  class="w-7 h-auto fill-current dark:hover:text-zinc-300 hover:text-zinc-600 hover:scale-110 transition-all"
                />
              </a>
            )
          }
        </div>
      </div>

      {/* Description with min-height */}
      {
        description && (
          <p class="text-sm leading-relaxed dark:text-charcoalGray text-zinc-600 pt-2 line-clamp-3">
            {description}
          </p>
        )
      }

      {/* Tags List */}
      <Tags tags={tags} />
    </div>
  </div>

  <style>
    .project-card-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }

    .project-card-header {
      flex-grow: 1;
    }

    .project-card-footer {
      margin-top: auto;
    }
  </style>
</li>
