---
import { Icon } from "astro-icon";

interface Props {
  text: string;
  logo: string;
  hoverColor: string;
  inProgress?: boolean
}

const { text, logo, hoverColor, inProgress } = Astro.props;


---

<li
  class="relative flex items-center space-x-4 text-sm font-medium transition-colors duration-400 rounded-lg text-zinc- dark:text-gray-200 hover:bg-[var(--hover-color)]"
  style={`--hover-color: ${hoverColor};`}
>
{inProgress && (
    <div class="absolute inset-0 flex items-center justify-center bg-error/70 dark:bg-error/90 text-white text-md tracking-wider font-semibold rounded-lg  transition-opacity duration-300 hover:opacity-0">
      Future Works
    </div>
  )}

  <div class="flex items-center space-x-2">
    <span
      class="flex items-center justify-center w-10 h-10 rounded lg:bg-opacity-60 dark:bg-opacity-40 align-middle"
    > 
      {logo ? (
        <Icon name={logo} class="w-6" />
      ) : (
        <img src={`/logos/${text.toLowerCase()}.svg`} alt={text} class="p-1 m-2 items-center align-middle flex" />
      )}
    </span>
    <span class="dark:text-light">{text}</span>
  </div>
</li>
