---
import NowLayout from "@layouts/NowLayout.astro";
import ArchiveList from "@components/NowArchiveList.astro";
import { getCollection } from "astro:content";
import { getRelativeTime } from "src/utils";
import { isAstroComponentFactory } from "astro/runtime/server/render/astro/factory.js";

const archives = await getCollection("now");
archives.sort(
  (a, b) =>
    new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
);
const latestArchive = await archives[0];
let Content = isAstroComponentFactory;
if (latestArchive) {
  const renderResult = await latestArchive.render();
  Content = renderResult.Content;
}

const lastUpdatedDate = getRelativeTime(new Date(latestArchive?.data.updatedDate || latestArchive?.data.pubDate || Date.now()));
---

{latestArchive && (
  <NowLayout
    title={latestArchive.data.title}
    description={latestArchive.data.description}
    pubDate={latestArchive.data.pubDate}
    updatedDate={latestArchive.data.updatedDate}
    firstPost={true}
  >

  <ArchiveList />
  <Content />
  <!-- Last Updated Section -->
  <div class="pt-16 text-xs text-zinc-500 dark:text-charcoalGray">
    In the midst of our busy lives,
    <p>
      This was last updated on: {lastUpdatedDate}.
    </p>
  </div>
</NowLayout>)
}