---
import AppLayout from "@layouts/AppLayout.astro";
import Header from "@components/Header.astro";
import ProjectCard from "@components/ProjectCard.astro";
import { getCollection } from "astro:content";


const projects = await getCollection("projects")
const description = "Here are some of the projects I have worked on, including ones I have contributed to, authored, or maintained.Pardon my yapping... 🗣️";
---

<AppLayout title="Projects" 
           tags={["projects", "portfolio", "github", "enoch mok", "developer", "software engineer"]}
           description={description}>
  <Header title="My Projects" />
  <p
    class="max-w-prose ml-6 mt-4 mb-10 font-normal dark:text-zinc-400 text-zinc-600 leading-relaxed"
  >
    {description}
  </p>
  <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-6 gap-8">
    {
      projects.map((project) => (

          <ProjectCard
            name={project.data.title}
            description={project.data.description}
            slugUrl={`/projects/${project.slug}/`}
            repoUrl={project.data.repoUrl}
            tags={project.data.tags}
            image={project.data.hero}
            imageAlt={project.data.heroAlt}
          />
        )
      )
    }
  </ul>
</AppLayout>
